# Desafio 4

Neste desafio, vamos praticar um pouco sobre testes de hipóteses. Utilizaremos o _data set_ [2016 Olympics in Rio de Janeiro](https://www.kaggle.com/rio2016/olympic-games/), que contém dados sobre os atletas das Olimpíadas de 2016 no Rio de Janeiro.

Esse _data set_ conta com informações gerais sobre 11538 atletas como nome, nacionalidade, altura, peso e esporte praticado. Estaremos especialmente interessados nas variáveis numéricas altura (`height`) e peso (`weight`). As análises feitas aqui são parte de uma Análise Exploratória de Dados (EDA).

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [70]:
# %matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

In [3]:
athletes = pd.read_csv("athletes.csv")

In [4]:
def get_sample(df, col_name, n=100, seed=42):
    """Get a sample from a column of a dataframe.
    
    It drops any numpy.nan entries before sampling. The sampling
    is performed without replacement.
    
    Example of numpydoc for those who haven't seen yet.
    
    Parameters
    ----------
    df : pandas.DataFrame
        Source dataframe.
    col_name : str
        Name of the column to be sampled.
    n : int
        Sample size. Default is 100.
    seed : int
        Random seed. Default is 42.
    
    Returns
    -------
    pandas.Series
        Sample of size n from dataframe's column.
    """
    np.random.seed(seed)
    
    random_idx = np.random.choice(df[col_name].dropna().index, size=n, replace=False)
    
    return df.loc[random_idx, col_name]

## Inicia sua análise a partir daqui

In [5]:
# Sua análise começa aqui.
athletes.head(10)

          id                 name nationality  ... gold silver  bronze
0  736041664       A Jesus Garcia         ESP  ...    0      0       0
1  532037425           A Lam Shin         KOR  ...    0      0       0
2  435962603          Aaron Brown         CAN  ...    0      0       1
3  521041435           Aaron Cook         MDA  ...    0      0       0
4   33922579           Aaron Gate         NZL  ...    0      0       0
5  173071782          Aaron Royle         AUS  ...    0      0       0
6  266237702        Aaron Russell         USA  ...    0      0       1
7  382571888        Aaron Younger         AUS  ...    0      0       0
8   87689776  Aauri Lorena Bokesa         ESP  ...    0      0       0
9  997877719      Ababel Yeshaneh         ETH  ...    0      0       0

[10 rows x 11 columns]

In [9]:
athletes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11538 entries, 0 to 11537
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           11538 non-null  int64
 1   name         11538 non-null  object
 2   nationality  11538 non-null  object
 3   sex          11538 non-null  object
 4   dob          11537 non-null  object
 5   height       11208 non-null  float64
 6   weight       10879 non-null  float64
 7   sport        11538 non-null  object
 8   gold         11538 non-null  int64
 9   silver       11538 non-null  int64
 10  bronze       11538 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 991.7+ KB

In [10]:
athletes.isnull().sum()

id               0
name             0
nationality      0
sex              0
dob              1
height         330
weight         659
sport            0
gold             0
silver           0
bronze           0
dtype: int64

In [11]:
athletes.describe()

                 id        height  ...        silver        bronze
count  1.153800e+04  11208.000000  ...  11538.000000  11538.000000
mean   4.999885e+08      1.766282  ...      0.056769      0.061016
std    2.908648e+08      0.112719  ...      0.239147      0.243320
min    1.834700e+04      1.210000  ...      0.000000      0.000000
25%    2.450997e+08      1.690000  ...      0.000000      0.000000
50%    5.002011e+08      1.760000  ...      0.000000      0.000000
75%    7.539874e+08      1.840000  ...      0.000000      0.000000
max    9.999878e+08      2.210000  ...      2.000000      2.000000

[8 rows x 6 columns]

## Questão 1

Considerando uma amostra de tamanho 3000 da coluna `height` obtida com a função `get_sample()`, execute o teste de normalidade de Shapiro-Wilk com a função `scipy.stats.shapiro()`. Podemos afirmar que as alturas são normalmente distribuídas com base nesse teste (ao nível de significância de 5%)? Responda com um boolean (`True` ou `False`).

In [31]:
sample_height = get_sample(athletes, 'height', n=3000)

In [21]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return True if sct.shapiro(sample_height) [1] > .05 else False
    # pass

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Plote o qq-plot para essa variável e a analise.
* Existe algum nível de significância razoável que nos dê outro resultado no teste? (Não faça isso na prática. Isso é chamado _p-value hacking_, e não é legal).

## Questão 2

Repita o mesmo procedimento acima, mas agora utilizando o teste de normalidade de Jarque-Bera através da função `scipy.stats.jarque_bera()`. Agora podemos afirmar que as alturas são normalmente distribuídas (ao nível de significância de 5%)? Responda com um boolean (`True` ou `False`).

In [23]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return True if sct.jarque_bera(sample_height) [1] > .05 else False
    # pass

__Para refletir__:

* Esse resultado faz sentido?

## Questão 3

Considerando agora uma amostra de tamanho 3000 da coluna `weight` obtida com a função `get_sample()`. Faça o teste de normalidade de D'Agostino-Pearson utilizando a função `scipy.stats.normaltest()`. Podemos afirmar que os pesos vêm de uma distribuição normal ao nível de significância de 5%? Responda com um boolean (`True` ou `False`).

In [32]:
sample_weight = get_sample(athletes, 'weight', n=3000)

In [33]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return True if sct.normaltest(sample_weight) [1] > .05 else False
    # pass

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Um _box plot_ também poderia ajudar a entender a resposta.

## Questão 4

Realize uma transformação logarítmica em na amostra de `weight` da questão 3 e repita o mesmo procedimento. Podemos afirmar a normalidade da variável transformada ao nível de significância de 5%? Responda com um boolean (`True` ou `False`).

In [34]:
athletes['weight_log'] = np.log(athletes['weight'])
sample_weight_log = get_sample(athletes, 'weight_log', n=3000)

In [35]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return True if sct.normaltest(sample_weight_log) [1] > .05 else False
    # pass

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Você esperava um resultado diferente agora?

> __Para as questão 5 6 e 7 a seguir considere todos testes efetuados ao nível de significância de 5%__.

## Questão 5

Obtenha todos atletas brasileiros, norte-americanos e canadenses em `DataFrame`s chamados `bra`, `usa` e `can`,respectivamente. Realize um teste de hipóteses para comparação das médias das alturas (`height`) para amostras independentes e variâncias diferentes com a função `scipy.stats.ttest_ind()` entre `bra` e `usa`. Podemos afirmar que as médias são estatisticamente iguais? Responda com um boolean (`True` ou `False`).

In [40]:
bra = athletes.loc[athletes['nationality'] == 'BRA']['height']
usa = athletes.loc[athletes['nationality'] == 'USA']['height']
can = athletes.loc[athletes['nationality'] == 'CAN']['height']

In [67]:
def q5():
    # Retorne aqui o resultado da questão 5.
    statistic, pvalue = sct.ttest_ind(bra, usa, equal_var=False, nan_policy='omit')
    return True if pvalue > .05 else False
    # pass

## Questão 6

Repita o procedimento da questão 5, mas agora entre as alturas de `bra` e `can`. Podemos afimar agora que as médias são estatisticamente iguais? Reponda com um boolean (`True` ou `False`).

In [68]:
def q6():
    # Retorne aqui o resultado da questão 6.
    statistic, pvalue = sct.ttest_ind(bra, can, equal_var=False, nan_policy='omit')
    return True if pvalue > .05 else False
    # pass

## Questão 7

Repita o procedimento da questão 6, mas agora entre as alturas de `usa` e `can`. Qual o valor do p-valor retornado? Responda como um único escalar arredondado para oito casas decimais.

In [72]:
def q7():
    # Retorne aqui o resultado da questão 7.
    statistic, pvalue = sct.ttest_ind(usa, can, equal_var=False, nan_policy='omit')
    return float(round(pvalue, 8))
    # pass

__Para refletir__:

* O resultado faz sentido?
* Você consegue interpretar esse p-valor?
* Você consegue chegar a esse valor de p-valor a partir da variável de estatística?